= wrap_layout ('layout'.to_sym) do
  .container-logo-large
    %div
      %div
        = image_tag 'middleman-pagegroups-small.png', :alt => 'middleman-pagegroups logo'
        %h1= "#{product_name}"
        %h2= "version #{product_version}"
        %a{:href => product_uri}= product_uri

      - if content_for?(:seeAlso)
        .related_topics
          %h1 See Also
          = yield_content :seeAlso

    %div
      .yield-content
        ~ yield
        - if current_page.navigator_eligible?
          %hr
          = nav_prev_next

-#
  This template is suitable for your landing page or major sections, and features
  a large version of your logo, the application name, and the application URI.
  It can include optional :seeAlso content below the application URI.
